{
  "openapi": "3.1.0",
  "info": {
    "title": "GESCAL API",
    "version": "1.0.0",
    "description": "JSON:API compliant REST API for disaster and calamity management.\n\n**Features**:\n- JWT authentication with role-based access control\n- Strict JSON:API compliance (jsonapi.org)\n- LGPD-compliant PII protection\n- Bulk import/export operations\n- Soft deletes with retention periods\n\n**API Versioning**:\n- Current Version: v1 (Active)\n- Future Version: v2 (Planned)\n- See /docs/api-versioning.md for migration guide\n\n**Authentication**: JWT Bearer token required for all endpoints except `/auth/login`\n",
    "contact": {
      "name": "GESCAL API Support",
      "email": "api@gescal.gov.br"
    },
    "license": {
      "name": "Proprietary"
    }
  },
  "servers": [
    {
      "url": "https://api.gescal.gov.br/api/v1",
      "description": "Production V1 (Current)",
      "variables": {}
    },
    {
      "url": "http://localhost:8000/api/v1",
      "description": "Local Development V1 (Current)",
      "variables": {}
    },
    {
      "url": "https://api.gescal.gov.br/api/v2",
      "description": "Production V2 (Future - Not Yet Available)",
      "variables": {}
    },
    {
      "url": "http://localhost:8000/api/v2",
      "description": "Local Development V2 (Future - Not Yet Available)",
      "variables": {}
    }
  ],
  "security": [
    {
      "BearerAuth": []
    }
  ],
  "tags": [
    {
      "name": "Authentication",
      "description": "JWT authentication endpoints"
    },
    {
      "name": "Person",
      "description": "Person management"
    },
    {
      "name": "Families",
      "description": "Family management"
    },
    {
      "name": "Cases",
      "description": "Case record management"
    },
    {
      "name": "Benefits",
      "description": "Benefit management"
    },
    {
      "name": "Approval Requests",
      "description": "Approval workflow state machine for benefit requests"
    },
    {
      "name": "Reference Data",
      "description": "Read-only reference data (federation units, etc.)"
    },
    {
      "name": "Bulk Operations",
      "description": "Batch import/export"
    }
  ],
  "paths": {
    "/auth/login": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Authenticate user and obtain JWT token",
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "email",
                  "password"
                ],
                "properties": {
                  "email": {
                    "type": "string",
                    "format": "email"
                  },
                  "password": {
                    "type": "string",
                    "format": "password"
                  }
                }
              },
              "example": {
                "email": "coordenador@cidade.gov.br",
                "password": "senha123"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Authentication successful",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "access_token": {
                      "type": "string",
                      "description": "JWT access token"
                    },
                    "token_type": {
                      "type": "string",
                      "example": "bearer"
                    },
                    "expires_in": {
                      "type": "integer",
                      "description": "Token expiration in seconds",
                      "example": 3600
                    },
                    "roles": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "example": [
                        "coordinator"
                      ]
                    }
                  }
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          }
        }
      }
    },
    "/auth/refresh": {
      "post": {
        "tags": [
          "Authentication"
        ],
        "summary": "Refresh JWT token",
        "responses": {
          "200": {
            "description": "Token refreshed successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/paths/~1auth~1login/post/responses/200/content/application~1vnd.api+json/schema"
                }
              }
            }
          }
        }
      }
    },
    "/persons": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "List Person with filtering, sorting, pagination",
        "parameters": [
          {
            "$ref": "#/components/parameters/FilterFullName"
          },
          {
            "$ref": "#/components/parameters/FilterSex"
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          },
          {
            "$ref": "#/components/parameters/FieldsPerson"
          }
        ],
        "responses": {
          "200": {
            "description": "List of Person",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonCollection"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Person"
        ],
        "summary": "Create a new person",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PersonRequest"
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Person created successfully",
            "headers": {
              "Location": {
                "schema": {
                  "type": "string"
                },
                "description": "URL of the created resource"
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResource"
                }
              }
            }
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/persons/{id}": {
      "get": {
        "tags": [
          "Person"
        ],
        "summary": "Get a single person by ID",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          },
          {
            "$ref": "#/components/parameters/Include"
          }
        ],
        "responses": {
          "200": {
            "description": "Person details",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "patch": {
        "tags": [
          "Person"
        ],
        "summary": "Update a person",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "$ref": "#/components/schemas/PersonRequest"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Person updated successfully",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/PersonResource"
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "409": {
            "$ref": "#/components/responses/Conflict"
          }
        }
      },
      "delete": {
        "tags": [
          "Person"
        ],
        "summary": "Soft delete a person",
        "parameters": [
          {
            "$ref": "#/components/parameters/ResourceId"
          }
        ],
        "responses": {
          "204": {
            "description": "Person soft deleted successfully"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      }
    },
    "/families": {
      "get": {
        "tags": [
          "Families"
        ],
        "summary": "List families",
        "parameters": [
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "List of families",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "$ref": "#/components/schemas/FamilyResourceData"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "links": {
                      "$ref": "#/components/schemas/PaginationLinks"
                    },
                    "meta": {
                      "$ref": "#/components/schemas/PaginationMeta"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/cases": {
      "get": {
        "tags": [
          "Cases"
        ],
        "summary": "List case records",
        "parameters": [
          {
            "name": "filter[dc_year]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "filter[occurrence_id]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "$ref": "#/components/parameters/Sort"
          },
          {
            "$ref": "#/components/parameters/Include"
          },
          {
            "$ref": "#/components/parameters/PageNumber"
          },
          {
            "$ref": "#/components/parameters/PageSize"
          }
        ],
        "responses": {
          "200": {
            "description": "List of case records"
          }
        }
      }
    },
    "/reference-data/federation-units": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "List all Brazilian states (cached, public access)",
        "security": [],
        "responses": {
          "200": {
            "description": "List of federation units",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=3600"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              },
              "X-API-Version": {
                "schema": {
                  "type": "string",
                  "example": "1.0"
                }
              },
              "X-API-Deprecated": {
                "schema": {
                  "type": "string",
                  "example": "false"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "federation-units"
                          },
                          "id": {
                            "type": "string"
                          },
                          "attributes": {
                            "type": "object",
                            "properties": {
                              "federation_unit": {
                                "type": "string",
                                "example": "SP"
                              }
                            }
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reference-data/race-ethnicities": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "List all race/ethnicity options (cached, public access)",
        "security": [],
        "responses": {
          "200": {
            "description": "List of race/ethnicity options",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=3600"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reference-data/marital-statuses": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "List all marital status options (cached, public access)",
        "security": [],
        "responses": {
          "200": {
            "description": "List of marital statuses",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=3600"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/reference-data/benefit-programs": {
      "get": {
        "tags": [
          "Reference Data"
        ],
        "summary": "List all benefit programs (cached, public access)",
        "security": [],
        "responses": {
          "200": {
            "description": "List of benefit programs",
            "headers": {
              "Cache-Control": {
                "schema": {
                  "type": "string",
                  "example": "public, max-age=3600"
                }
              },
              "ETag": {
                "schema": {
                  "type": "string"
                }
              }
            },
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/bulk/import": {
      "post": {
        "tags": [
          "Bulk Operations"
        ],
        "summary": "Import multiple resources in batch",
        "description": "Transactional bulk import. All records for a resource type succeed or all fail.\nMaximum 1000 records per resource type.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "Person": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  },
                  "families": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              },
              "example": {
                "Person": [
                  {
                    "full_name": "João Silva",
                    "sex": "Masculino",
                    "birth_date": "1990-01-01",
                    "primary_phone": "(11) 98765-4321"
                  },
                  {
                    "full_name": "Maria Santos",
                    "sex": "Feminino",
                    "birth_date": "1985-05-15"
                  }
                ],
                "families": [
                  {
                    "responsible_person_id": "1",
                    "address_id": "10"
                  }
                ]
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Import completed",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean"
                    },
                    "results": {
                      "type": "object",
                      "additionalProperties": {
                        "type": "object",
                        "properties": {
                          "created": {
                            "type": "integer"
                          },
                          "failed": {
                            "type": "integer"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          },
          "422": {
            "description": "Validation errors",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "$ref": "#/components/schemas/JsonApiErrors"
                }
              }
            }
          }
        }
      }
    },
    "/bulk/export": {
      "post": {
        "tags": [
          "Bulk Operations"
        ],
        "summary": "Export multiple resources in batch",
        "description": "Export up to 10,000 total records with filters.\n",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "types"
                ],
                "properties": {
                  "types": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    },
                    "example": [
                      "Person",
                      "families"
                    ]
                  },
                  "filters": {
                    "type": "object",
                    "example": {
                      "created_since": "2025-01-01"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Export data in JSON:API format",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "included": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    },
                    "meta": {
                      "type": "object",
                      "properties": {
                        "total_records": {
                          "type": "integer"
                        },
                        "export_timestamp": {
                          "type": "string",
                          "format": "date-time"
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/approval-requests": {
      "get": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "List approval requests",
        "description": "Retrieve a paginated list of approval requests with role-based filtering",
        "parameters": [
          {
            "name": "filter[status]",
            "in": "query",
            "schema": {
              "type": "string"
            }
          },
          {
            "name": "filter[case_id]",
            "in": "query",
            "schema": {
              "type": "integer"
            }
          },
          {
            "name": "page[size]",
            "in": "query",
            "schema": {
              "type": "integer",
              "default": 15
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of approval requests",
            "content": {
              "application/vnd.api+json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "data": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Create draft approval request",
        "description": "Create a new approval request in draft state (Social Worker only)",
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "required": [
                      "type",
                      "attributes"
                    ],
                    "properties": {
                      "type": {
                        "type": "string",
                        "enum": [
                          "approval-requests"
                        ]
                      },
                      "attributes": {
                        "type": "object",
                        "required": [
                          "case_id"
                        ],
                        "properties": {
                          "case_id": {
                            "type": "integer"
                          },
                          "benefit_id": {
                            "type": "integer",
                            "nullable": true
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "201": {
            "description": "Approval request created"
          }
        }
      }
    },
    "/approval-requests/{id}": {
      "get": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Get approval request",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Approval request details"
          }
        }
      }
    },
    "/approval-requests/{id}/submit": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Submit approval request",
        "description": "Transition from draft to submitted (Social Worker)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Request submitted"
          }
        }
      }
    },
    "/approval-requests/{id}/start-review": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Start review",
        "description": "Transition from submitted to under_review (Coordinator)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Review started"
          }
        }
      }
    },
    "/approval-requests/{id}/approve": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Approve request",
        "description": "Transition from under_review to approved (Coordinator)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "decision_notes": {
                    "type": "string"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request approved"
          }
        }
      }
    },
    "/approval-requests/{id}/reject": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Reject request",
        "description": "Transition to rejected state (Coordinator)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request rejected"
          }
        }
      }
    },
    "/approval-requests/{id}/request-documents": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Request documents",
        "description": "Transition to pending_documents state (Coordinator)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "documents_required"
                ],
                "properties": {
                  "documents_required": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Documents requested"
          }
        }
      }
    },
    "/approval-requests/{id}/resubmit": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Resubmit after documents",
        "description": "Transition from pending_documents to submitted (Social Worker)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "properties": {
                  "documents_provided": {
                    "type": "array",
                    "items": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request resubmitted"
          }
        }
      }
    },
    "/approval-requests/{id}/cancel": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Cancel request",
        "description": "Transition to cancelled state (Admin only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request cancelled"
          }
        }
      }
    },
    "/approval-requests/{id}/revoke": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Revoke approval",
        "description": "Transition from approved to revoked (Admin only)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "reason"
                ],
                "properties": {
                  "reason": {
                    "type": "string",
                    "minLength": 10
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Approval revoked"
          }
        }
      }
    },
    "/approval-requests/{id}/fast-track-approve": {
      "post": {
        "tags": [
          "Approval Requests"
        ],
        "summary": "Emergency fast-track approval",
        "description": "Transition to approved_prelim state (Coordinator/Admin)",
        "parameters": [
          {
            "name": "id",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/vnd.api+json": {
              "schema": {
                "type": "object",
                "required": [
                  "justification"
                ],
                "properties": {
                  "justification": {
                    "type": "string",
                    "minLength": 20
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Request fast-track approved"
          }
        }
      }
    }
  },
  "components": {
    "securitySchemes": {
      "BearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "parameters": {
      "ResourceId": {
        "name": "id",
        "in": "path",
        "required": true,
        "schema": {
          "type": "string"
        },
        "description": "Resource ID"
      },
      "FilterFullName": {
        "name": "filter[full_name]",
        "in": "query",
        "schema": {
          "type": "string"
        },
        "description": "Filter by full name (partial match)"
      },
      "FilterSex": {
        "name": "filter[sex]",
        "in": "query",
        "schema": {
          "type": "string",
          "enum": [
            "Masculino",
            "Feminino"
          ]
        }
      },
      "Sort": {
        "name": "sort",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "-created_at,full_name"
        },
        "description": "Comma-separated fields, prefix with - for descending"
      },
      "Include": {
        "name": "include",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "family,documents"
        },
        "description": "Comma-separated relationships to include"
      },
      "PageNumber": {
        "name": "page[number]",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 1,
          "minimum": 1
        }
      },
      "PageSize": {
        "name": "page[size]",
        "in": "query",
        "schema": {
          "type": "integer",
          "default": 25,
          "minimum": 1,
          "maximum": 100
        }
      },
      "FieldsPerson": {
        "name": "fields[Person]",
        "in": "query",
        "schema": {
          "type": "string",
          "example": "full_name,birth_date"
        },
        "description": "Sparse fieldsets - comma-separated attribute names"
      }
    },
    "schemas": {
      "PersonResourceData": {
        "type": "object",
        "required": [
          "type",
          "id",
          "attributes"
        ],
        "properties": {
          "type": {
            "type": "string",
            "example": "Person"
          },
          "id": {
            "type": "string",
            "example": "123"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "full_name": {
                "type": "string"
              },
              "sex": {
                "type": "string",
                "enum": [
                  "Masculino",
                  "Feminino"
                ]
              },
              "birth_date": {
                "type": "string",
                "format": "date"
              },
              "filiation_text": {
                "type": "string",
                "nullable": true
              },
              "nationality": {
                "type": "string"
              },
              "natural_city": {
                "type": "string",
                "nullable": true
              },
              "primary_phone": {
                "type": "string",
                "nullable": true
              },
              "secondary_phone": {
                "type": "string",
                "nullable": true
              },
              "email": {
                "type": "string",
                "format": "email",
                "nullable": true
              },
              "created_at": {
                "type": "string",
                "format": "date-time"
              },
              "updated_at": {
                "type": "string",
                "format": "date-time"
              }
            }
          },
          "relationships": {
            "type": "object",
            "properties": {
              "naturalFederationUnit": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "object",
                    "nullable": true,
                    "properties": {
                      "type": {
                        "type": "string",
                        "example": "federation-units"
                      },
                      "id": {
                        "type": "string"
                      }
                    }
                  }
                }
              },
              "raceEthnicity": {
                "type": "object"
              },
              "maritalStatus": {
                "type": "object"
              },
              "schoolingLevel": {
                "type": "object"
              },
              "documents": {
                "type": "object",
                "properties": {
                  "data": {
                    "type": "array",
                    "items": {
                      "type": "object"
                    }
                  }
                }
              }
            }
          },
          "links": {
            "type": "object",
            "properties": {
              "self": {
                "type": "string",
                "format": "uri"
              }
            }
          }
        }
      },
      "PersonResource": {
        "type": "object",
        "properties": {
          "data": {
            "$ref": "#/components/schemas/PersonResourceData"
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object"
            }
          }
        }
      },
      "PersonCollection": {
        "type": "object",
        "properties": {
          "data": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/PersonResourceData"
            }
          },
          "included": {
            "type": "array",
            "items": {
              "type": "object"
            }
          },
          "links": {
            "$ref": "#/components/schemas/PaginationLinks"
          },
          "meta": {
            "$ref": "#/components/schemas/PaginationMeta"
          }
        }
      },
      "PersonRequest": {
        "type": "object",
        "required": [
          "data"
        ],
        "properties": {
          "data": {
            "type": "object",
            "required": [
              "type",
              "attributes"
            ],
            "properties": {
              "type": {
                "type": "string",
                "example": "Person"
              },
              "attributes": {
                "type": "object",
                "required": [
                  "full_name",
                  "sex",
                  "birth_date"
                ],
                "properties": {
                  "full_name": {
                    "type": "string"
                  },
                  "sex": {
                    "type": "string",
                    "enum": [
                      "Masculino",
                      "Feminino"
                    ]
                  },
                  "birth_date": {
                    "type": "string",
                    "format": "date"
                  },
                  "filiation_text": {
                    "type": "string"
                  },
                  "nationality": {
                    "type": "string"
                  },
                  "natural_city": {
                    "type": "string"
                  },
                  "primary_phone": {
                    "type": "string"
                  },
                  "secondary_phone": {
                    "type": "string"
                  },
                  "email": {
                    "type": "string"
                  }
                }
              },
              "relationships": {
                "type": "object",
                "properties": {
                  "naturalFederationUnit": {
                    "type": "object",
                    "properties": {
                      "data": {
                        "type": "object",
                        "properties": {
                          "type": {
                            "type": "string",
                            "example": "federation-units"
                          },
                          "id": {
                            "type": "string"
                          }
                        }
                      }
                    }
                  }
                }
              }
            }
          }
        }
      },
      "FamilyResourceData": {
        "type": "object",
        "properties": {
          "type": {
            "type": "string",
            "example": "families"
          },
          "id": {
            "type": "string"
          },
          "attributes": {
            "type": "object",
            "properties": {
              "origin_city": {
                "type": "string"
              },
              "family_income_bracket": {
                "type": "string"
              },
              "family_income_value": {
                "type": "number"
              },
              "created_at": {
                "type": "string"
              },
              "updated_at": {
                "type": "string"
              }
            }
          },
          "relationships": {
            "type": "object"
          },
          "links": {
            "type": "object"
          }
        }
      },
      "PaginationLinks": {
        "type": "object",
        "properties": {
          "first": {
            "type": "string",
            "format": "uri"
          },
          "prev": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "next": {
            "type": "string",
            "format": "uri",
            "nullable": true
          },
          "last": {
            "type": "string",
            "format": "uri"
          }
        }
      },
      "PaginationMeta": {
        "type": "object",
        "properties": {
          "current_page": {
            "type": "integer"
          },
          "per_page": {
            "type": "integer"
          },
          "total": {
            "type": "integer"
          }
        }
      },
      "JsonApiError": {
        "type": "object",
        "required": [
          "status",
          "title"
        ],
        "properties": {
          "status": {
            "type": "string",
            "description": "HTTP status code as string"
          },
          "code": {
            "type": "string",
            "description": "Application-specific error code"
          },
          "title": {
            "type": "string",
            "description": "Short, human-readable summary"
          },
          "detail": {
            "type": "string",
            "description": "Human-readable explanation"
          },
          "source": {
            "type": "object",
            "properties": {
              "pointer": {
                "type": "string",
                "description": "JSON Pointer to attribute",
                "example": "/data/attributes/email"
              }
            }
          }
        }
      },
      "JsonApiErrors": {
        "type": "object",
        "required": [
          "errors"
        ],
        "properties": {
          "errors": {
            "type": "array",
            "items": {
              "$ref": "#/components/schemas/JsonApiError"
            }
          }
        }
      }
    },
    "responses": {
      "Unauthorized": {
        "description": "Authentication required or invalid token",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/JsonApiErrors"
            },
            "example": {
              "errors": [
                {
                  "status": "401",
                  "code": "UNAUTHORIZED",
                  "title": "Unauthorized",
                  "detail": "Invalid or missing authentication token"
                }
              ]
            }
          }
        }
      },
      "Forbidden": {
        "description": "Insufficient permissions",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/JsonApiErrors"
            }
          }
        }
      },
      "NotFound": {
        "description": "Resource not found",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/JsonApiErrors"
            }
          }
        }
      },
      "ValidationError": {
        "description": "Validation failed",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/JsonApiErrors"
            },
            "example": {
              "errors": [
                {
                  "status": "422",
                  "code": "VALIDATION_ERROR",
                  "title": "Validation Failed",
                  "detail": "The birth date must be a date before today.",
                  "source": {
                    "pointer": "/data/attributes/birth_date"
                  }
                }
              ]
            }
          }
        }
      },
      "Conflict": {
        "description": "Concurrent modification detected",
        "content": {
          "application/vnd.api+json": {
            "schema": {
              "$ref": "#/components/schemas/JsonApiErrors"
            },
            "example": {
              "errors": [
                {
                  "status": "409",
                  "code": "CONFLICT",
                  "title": "Resource Modified",
                  "detail": "This resource was modified by another user. Please refresh and try again."
                }
              ]
            }
          }
        }
      }
    }
  }
}